<h5 class="display-4">Messages</h5>

<div class="row my-5">
    <div class="col-2 p-0">
        <div class="list-group">

            
            {{#each messages as |message|}}
                <a href="/messages/{{message.user}}" class="border-0 list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Between: {{message.user}}</h5>
                    </div>
                </a>
            {{/each}}
            
        </div>
    </div>
    <div class="col-8">
        <div class="container">
            {{#if specific_user }}
                {{#each messagesBetween as |message|}}
                    <p class="m-0">From: {{message.sender_id}}: {{message.message}}</p>
                    <small class="m-0 text-muted">{{message.createdAt}}</small>
                {{/each}}

            <hr>
            <form id="create-message">
                <div class="row my-3">
                    <div class="col-sm-10">
                    <input class="form-control" id="message" placeholder="Message" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Send</button>
            </form>


            {{else}}
            <p class="lead">Please click on a user to see your messages</p>
            {{/if}}

        </div>
    </div>
</div>

<script src="/js/createMessage.js"></script>