<div class="row">
  <div class="col-12 text-center">
    <h1 class="display-5"> Try New Experiences</h1>
  </div>
</div>

<div class="container my-5">
  <div class="card shadow-lg">
    <div class="card-body">
      <form class="container" id="search-events">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label>Location:</label>
              <input type="text" class="form-control" id="search_input" placeholder="Enter a city" />
            </div>
            <div class="row">
              <div class='col-md-6'>
                <div class="mb-3">
                  <input class="form-control" type="text" id="city" disabled required placeholder="City" />
                </div>
              </div>
              <div class='col-md-6'>
                <div class="mb-3">
                  <input class="form-control" type="text" id="country" disabled required placeholder="Country" />
                </div>
              </div>
            </div>
            <div class="col-12">
              <label for="autoSizingInput">Interests</label>
              <select class="form-select" id="interests" multiple>
                <option value="1">Adventure</option>
                <option value="2">Sports</option>
                <option value="3">Food and Drinks</option>
                <option value="4">Arts and Museums</option>
                <option value="5">History</option>
                <option value="6">Nightlife</option>
                <option value="7">Wellness</option>
              </select>
            </div>
            <div class="container-fluid text-center pb-4">
              <button type="submit" class="btn btn-primary m-1 pb-2 col-sm-7 col-lg-3">Search</button>
              <button type="reset" class="btn btn-danger m-1 col-sm-7 col-lg-3">Reset Form</button>
            </div>
      </form>
      <hr>
      <div class="container text-center my-5">
        <h4>Cannot find what you are looking for?</h4>
        <a href="/createEvent" class="">Create Your Own Experience!</a>
      </div>
    </div>
  </div>
</div>

<script id="events-template" type="text/x-handlebars-template">
 <div class="col event-list" data-id="{{event.id}}">
      <div class="card shadow-sm p-4 event-card">
        <div class="card-body">
          <h5 class="card-title"><a href="/events/\{{id}}">\{{event_name}}</a></h5>
          <h6 class="card-subtitle mb-2 text-muted">\{{city}}, \{{country}}</h6>
          <p class="card-text">\{{description}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">\{{date_time}}</small>
          </div>
        </div>
      </div>
    </div>
</script>

<script id="noevents-template" type="text/x-handlebars-template">
  <div class="container text-center mt-4">
    <h2>Sorry, no events found!</h2>
    <p class="text-muted">Please try a different location or interest.</p>
  </div>
</script>

<div class="container mt-3">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="results">
  </div>
</div>


<script src="/js/searchEvents.js"></script>