<h1>Try new experiences</h1>
<div class="container">

  <form class="row gy-2 mb-4 gx-3 align-items-center" id="search-events">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label>Location:</label>
          <input type="text" class="form-control" id="search_input" placeholder="Type city..." />
        </div>
        
     </div>

      <div class="form-group">
        <label for="city"> City: </label>
        <input class="form-control" type="text" id="city" disabled required placeholder="Please fill in location" />
      </div>

      <div class="mb-3">
        <label for="country"> Country: </label>
        <input class="form-control" type="text" id="country" disabled required placeholder="Please fill in location" />
      </div>


    <div class="col-12">
      <label for="autoSizingInput">Select your interests</label>

      <select class="form-select" multiple>
        <option value="sports">Sports</option>
        <option value="adventure">Adventure</option>
        <option value="wellness">Wellness</option>
        <option value="nightlife">Nightlife</option>
        <option value="artMuseum">Arts and Museums</option>
        <option value="food">Food and Drinks</option>
      </select>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>


  <div class="container">
    <h2>Cannot find what you are looking for?</h2>
    <a href="/createEvent" type="button" class="btn btn-primary">Create Your Own Experience!</a>

  </div>

</div>


<script id="events-template" type="text/x-handlebars-template">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <a href="/events/\{{id}}">
        <h5 class="card-title">\{{event_name}}</h5>
      </a>
      <h6 class="card-subtitle mb-2 text-muted">\{{point_of_interest}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">\{{date_time}}</h6>
      <p class="card-text">\{{description}}
    </div>
  </div>
</script>


<script id="noevents-template" type="text/x-handlebars-template">
  <div class="container">
    <h4>No events found</h4>
  </div>
</script>

<div id="results">
</div>


<script src="/js/searchEvents.js"></script>