<link rel="stylesheet" href="css/profilePictures.css">
<div class="row">
  <div class="col-12 text-center">
    <h1 class="display-5"> Meet New People</h1>
  </div>
</div>

<div class="container my-5">
  <div class="card shadow-lg">
    <div class="card-body">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <form class="row gy-2 mb-4 gx-3 align-items-center" id="search-profile">
            <div class="col-lg-12">
              <div class="form-group">
                <label>Location:</label>
                <input type="text" class="form-control" id="search_input" placeholder="Enter a city" />
              </div>
              <div class="row">
                <div class='col-md-6'>
                  <div class="mb-3">
                    <input class="form-control" type="text" id="city" disabled required placeholder="City" />
                  </div>
                </div>
                <div class='col-md-6'>
                  <div class="mb-3">
                    <input class="form-control" type="text" id="country" disabled required placeholder="Country" />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <label for="autoSizingInput">Interests</label>
                <select class="form-select" id="interests" multiple>
                  <option value="1">Adventure</option>
                  <option value="2">Sports</option>
                  <option value="3">Food and Drinks</option>
                  <option value="4">Arts and Museums</option>
                  <option value="5">History</option>
                  <option value="6">Nightlife</option>
                  <option value="7">Wellness</option>
                </select>
              </div>
              <div class="col-12">
                <label for="autoSizingInput">Gender</label>
                <select class="form-select" id="gender">
                  <option disabled selected value> Select an option</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
              </div>
              <div class="col-md-12 text-center my-3">
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<script id="users-template" type="text/x-handlebars-template">
  <div class="col justify-content-center mx-auto">
    <div class="card  text-center shadow-sm p-4 rounded justify-content-center">
      <div class="center-text border-bottom py-4">
        <img class="card-img-top border-bottom rounded-circle" src=\{{profile_picture}} width="100%" id="profile-picture">
      </div>
      <div class="card-body">
          <a href="/user/\{{id}}"><h5 class="card-title">\{{first_name}} \{{last_name}}</h5></a>
          <h6 class="card-subtitle mb-2 text-muted">\{{age}} years old</h6>
          <h6 class="card-subtitle mb-2 text-muted text-capitalize">\{{gender}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">From \{{city_name}}, \{{country_name}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">\{{interest}}</h6>
          <p class="card-text d-none">\{{bio}}.</p>
      </div>
    </div> 
   </div>
</div>
</script>

<script id="nousers-template" type="text/x-handlebars-template">
  <div class="container text-center my-4">
    <h2>Sorry, no users found!</h2>
  </div>
</script>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="results">
  </div>
</div>


<script src="/js/searchUsers.js"></script>