<h1>{{event_name}}</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <h5>Event created by <a href="/user/{{creator_id}}">{{creatorName}}</a></h5>
    </div>
    <div class="col">

      <div class="row">
        <div class="col">
          Event Name: {{event_name}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Date: {{date_time}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Location:
          {{city}}, {{country}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Interest: {{interest_id}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Description: {{description}}
        </div>
      </div>
      <button type="button" class="btn btn-primary" id="join-event" data-event_id="{{id}}">Join Event!</button>
    </div>
  </div>

  <hr>

  <h3 class="mb-5">People attending {{event_name}}</h3>



  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <!-- Loop over each object in the events array -->
    {{#each attendees as |attendee|}}

      <div class="col justify-content-center mx-auto">
          <div class="card  text-center shadow-sm p-4 rounded justify-content-center">
            <div class="center-text border-bottom py-4">
              <img class="card-img-top border-bottom rounded-circle" style="width: 13rem;" src="https://i.imgur.com/ZSkeqnd.jpg" width="100">
            </div>
            <div class="card-body">
                <a href="/user/{{attendee.id}}"><h5 class="card-title">{{attendee.first_name}} {{attendee.last_name}}</h5></a>
                <h6 class="card-subtitle mb-2 text-muted">{{attendee.age}} years old</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{attendee.gender}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">From {{city_name}}, {{country_name}}</h6>
            </div>
          </div> 
        </div>

    {{/each}}

  </div>

</div>
<script src="/js/joinEvent.js"></script>