<h1>{{event_name}}</h1>


<div class="container">
  <div class="row">
    <div class="col">
      <h5>Event created by <a href="/user/{{creator_id}}">{{creatorName}}</a></h5>
    </div>
    <div class="col">

      <div class="row">
        <div class="col">
          Event Name: {{event_name}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Date: {{date_time}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Location:
          {{location}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Interest: {{interest_id}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Description: {{description}}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Join Event!</button>

    </div>
  </div>