<div class="container">

  <div class="card mb-5 border-0">
    <div class="row g-0">
      <div class="col-md-4">
        <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="250"
          xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6"
            dy=".3em">Image</text>
        </svg>

      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title display-5">{{first_name}} {{last_name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{age}} years old</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{gender}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">From {{city_name}},
            {{country_name}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{interest}}</h6>
          <p class="card-text">{{bio}}.</p>
          <p class="card-text"><small class="text-muted">

              This user has created {{#if events}} {{events.length}} {{else}} 0 {{/if}} events.
            </small></p>
          {{#unless sameUser}}
          <a href="/messages/{{id}}" class="btn btn-primary">Message</a>
          {{/unless}}
        </div>
      </div>
    </div>
  </div>
  <hr>

  <h5 class="display-5 mb-5">Events by {{first_name}}</h5>
  {{#unless events}}
  <p class="lead mb-5">This user has not created any events yet.</p>
  {{/unless}}

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <!-- Loop over each object in the events array -->
    {{#each events as |event|}}
    <div class="col event-list">
      <div class="card shadow-sm p-4">

        <div class="card-body">
          <h5 class="card-title"><a href="/events/{{event.id}}">{{event.event_name}}</a></h5>
          <h6 class="card-subtitle mb-2 text-muted">{{event.city_name}}</h6>

          <p class="card-text">{{event.description}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">{{event.date_time}}</small>
          </div>
          <button class="btn btn-sm btn-danger" data-id="{{event.id}}">DELETE</button>
        </div>
      </div>
    </div>
    {{/each}}

  </div>

</div>

<script src="/js/deleteEvent.js"></script>